﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <title>@ViewBag.Title</title>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <ul class="nav nav-pills">
                    <li>
                        <a href="/">Система доставки</a>
                    </li>
                    <li>
                        <a href="/Autoes/Index">Автопарк</a>
                    </li>
                    <li>
                        <a href="/Locations/Index">Адреса</a>
                    </li>
                    <li>
                        <a href="/Orders/Index">Заказы</a>
                    </li>
                    <li>
                        <a href="/Products/Index">Товары</a>
                    </li>
                </ul>

                @RenderBody()

                <footer>
                    <hr />
                    <p class="text-center">&copy; @DateTime.Now.Year - Система доставвки</p>
                </footer>
            </div>
        </div>


        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>