﻿@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>Премиум Аква</h1>
    <p class="lead">Доставляем самую чистую и полезную воду на дом и в офис</p>
    <a class="btn btn-primary btn-lg" href="/Orders/Create">Добавить заказ</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Делаем заказ</h2>
            <p>Это просто! Нужно указать адрес клиента, дату поставки и необходимые товары</p>
            <a class="btn btn-default" href="/Orders/Create">Заказать</a>
        </div>
        <div class="col-md-4">
            <h2>Создаем отчет</h2>
            <p>Просмотрите заказы, которые необходимо доставить сегодня</p>
            <a class="btn btn-default" href="/Error">Создать</a>
        </div>
        <div class="col-md-4">
            <h2>Отправляемся в путь</h2>
            <p>Логисты уже ждут список необходимых товаров, а водители - подробный маршрут</p>
            <a class="btn btn-default" href="/Error">Отправить</a>
        </div>
    </div>
</div>